.vscode/**
.vscode-test/**
out/test/**
src/**
src-*/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
image/**
icon/*
!icon/*.png
.github
node_modules/**
build.*
.*.json
vscode-custom-css-license.txt
