.*/**
*.mjs
*.mts
.vscode/**
.vscode-test/**
out/test/**
src/**
src-*/**
vsc-extension-quickstart.md
**/tsconfig.*
**/.eslintrc.json
**/*.map
**/*.ts
image/**
icon/*
!icon/*.png
.github
node_modules/**
licenses/**
theme/**
config/**
TODO.md
