/* Just define css variables */
/* Change these variables into whatever you like */
:root {
  --backdrop-filter: blur(30px);
  --background-color: ;
  --transition: 300ms;
  --animation-menu: 300ms cubic-bezier(0, 0.8, 0.2, 1) 0s 1 forwards dropdown;
  --animation-dialog: 300ms cubic-bezier(0, 0.8, 0.2, 1) 0s 1 forwards zoomIn;
}

/* Title Bar */
.window-title {
  transition: var(--transition);
}

.window-icon {
  transition: var(--transition);
}

/* Action Label */
.action-label.codicon {
  transition: var(--transition);
}

/* Editor Panel */
.monaco-hover {
  backdrop-filter: var(--backdrop-filter);
  /* background-color: var(--background-color) !important; */
}

.monaco-editor .suggest-details {
  backdrop-filter: var(--backdrop-filter);
  /* background-color: var(--background-color) !important; */
}

.monaco-editor .tree {
  backdrop-filter: var(--backdrop-filter);
  /* background-color: var(--background-color) !important; */
}

/* Command Panel */
.quick-input-widget {
  backdrop-filter: var(--backdrop-filter);
  /* background-color: var(--background-color) !important; */
}

.monaco-list-rows {
  background-color: transparent !important;
}

.monaco-list-rows .monaco-list-row {
  outline: none !important;
}

/* Input Box */
.monaco-inputbox.idle {
  background-color: transparent !important;
}

.monaco-inputbox.idle .wrapper {
  background-color: transparent;
}

.monaco-inputbox.idle .mirror {
  background-color: transparent;
}

/* Menu */
.monaco-menu .monaco-action-bar {
  backdrop-filter: var(--backdrop-filter);
  /* background-color: var(--background-color) !important; */
}

.monaco-scrollable-element .invisible {
  opacity: 0 !important;
  pointer-events: none;
}

/* Search & Replace */
.editor-widget {
  backdrop-filter: var(--backdrop-filter);
  background-color: var(--vscode-menu-background) !important;
}

/* Notification Panel */
.notifications-center-header {
  backdrop-filter: var(--backdrop-filter);
  background-color: var(--vscode-menu-background) !important;
}

.notifications-list-container {
  backdrop-filter: var(--backdrop-filter);
  /* background-color: var(--background-color) !important; */
}

.notification-toast {
  background-color: transparent !important;
  transition: var(--transition);
}

/* Feedback Form */
.feedback-form {
  backdrop-filter: var(--backdrop-filter);
  /* background-color: var(--background-color) !important; */
}

/* Minimap */
.minimap {
  backdrop-filter: var(--backdrop-filter);
  background-color: var(--vscode-menu-background);
}

.minimap canvas {
  opacity: 0.4;
  transition: var(--transition);
}

.minimap:hover canvas {
  opacity: 1;
  transition: var(--transition);
}

/* Scroll Bar */
.slider {
  backdrop-filter: var(--backdrop-filter);
}

.monaco-editor .scrollbar.vertical .slider {
  backdrop-filter: none !important;
}

/* Setting Page */
.setting-item-contents.settings-row-inner-container {
  transition: var(--transition);
}

/* Breadcrumbs Picker */
.monaco-breadcrumbs-picker > div:nth-child(2) {
  backdrop-filter: var(--backdrop-filter);
  background-color: var(--vscode-menu-background) !important;
}

/* Debug Tool Bar */
.debug-toolbar {
  backdrop-filter: var(--backdrop-filter);
  background-color: var(--vscode-menu-background) !important;
}

/* Debug Hover Widget */
.debug-hover-widget {
  backdrop-filter: var(--backdrop-filter);
  background-color: var(--vscode-menu-background) !important;
}

/* Code Action Widget */
.action-widget {
  backdrop-filter: var(--backdrop-filter);
  background-color: var(--vscode-menu-background) !important;
}

/* Rename Box */
.rename-box {
  backdrop-filter: var(--backdrop-filter);
  background-color: var(--vscode-menu-background) !important;
}

.rename-box > input {
  background-color: var(--vscode-menu-background) !important;
}

/* Find Part */
.monaco-workbench .simple-find-part {
  backdrop-filter: var(--backdrop-filter);
}

/* Key Binding Widget */
.defineKeybindingWidget {
  backdrop-filter: var(--backdrop-filter);
}

/* Custom Dialog Box */
.monaco-dialog-box {
  backdrop-filter: var(--backdrop-filter);
  animation: var(--animation-dialog);
}

.dimmed {
  animation: 300ms linear 0s 1 forwards fadeIn;
}

@keyframes zoomIn {
  from {
    transform: perspective(100px) translateZ(-100px);
  }
  to {
    transform: perspective(100px) translateZ(0);
  }
}

@keyframes fadeIn {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

/* Menu Dropdown Animation */
.monaco-menu-container {
  overflow: hidden;
}

.monaco-menu-container > .monaco-scrollable-element {
  animation: var(--animation-menu);
}

.quick-input-widget {
  animation: var(--animation-menu);
}

@keyframes dropdown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
